# Database connection information
app.config['DATABASE_USERNAME'] = 'your_username'  # ชื่อผู้ใช้ของคุณ
app.config['DATABASE_PASSWORD'] = 'your_password'  # รหัสผ่านของคุณ
app.config['DATABASE_HOSTNAME'] = 'your_hostname'  # ที่อยู่โฮสต์ของฐานข้อมูล
app.config['DATABASE_PORT'] = 'your_port'          # พอร์ตของ Oracle database
app.config['DATABASE_SERVICE_NAME'] = 'your_service_name'  # ชื่อบริการของ Oracle database
